@media only screen and (max-width: 600px) {
  body {
    text-align: center;
    color: orange;
    background-image: url("/img/pixelsilk4.gif");
  }

  .container {
    margin: 0;
    line-height: 20px;
  }

  h3 {
    margin-top: 0;
  }

  .site {
    color: yellow;
  }
}
