body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Indie Flower", cursive;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 80px;
  line-height: 1.5;
  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  body {
    background-image: url("/img/pixelsilk4.gif");
  }
}
