body {
  background-color: #090916f4;
  background-image: url("/img/pixelsilk3.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #eab0f3;
  font-family: consolas, sans-serif;
  cursor: url("/assets/cursor.cur"), auto;
  border: 120px solid transparent;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {
  list-style-type: none;
  float: inline-start;
  text-align: center;
  line-height: 10px;
  margin-top: 200px;
  margin: 180px;
}

.pfp {
  float: inline-start;
  width: 128px;
  height: 130px;
  border-radius: 100%;
  border: 4px solid rgb(38, 44, 70);
}

.site {
  color: rgb(84, 176, 250);
}

.s:hover {
  color: #e98aa7;
}

.i:hover {
  color: #f3bf71;
}

.l:hover {
  color: #f5f18d;
}

.k:hover {
  color: #a9deb6;
}

.hashtag:hover {
  color: #81bae7;
}

.four:hover {
  color: #e98aa7;
}

.zero:hover {
  color: #f3bf71;
}

.six:hover {
  color: #f5f18d;
}

.copyright {
  margin-top: 400px;
  size: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
